# IntelliJ IDEA files
.idea/

# Exclude class files (compiled Java bytecode)
*.class

# Exclude build directories (e.g., Maven, Gradle)
target/
build/

# Exclude temporary files and logs
*.log
*.tmp
*.swp

# Exclude user-specific IntelliJ configuration files
*.iml